
/* basic elements */
html {
	margin: 0;
	padding: 0;
	}

body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #8968CD;  
	margin: 0; 
	padding: 0;
	background:url(purple-iris-bird-background.jpg) no-repeat top left; 
	background-size: 100%;
	background-attachment: fixed;
}

.page-wrapper {   
	margin: 0 auto;
	width: 586px;
	}
a {
	color:#4F94CD;
}
a:hover {
	color:#63B8FF;
}

.intro {
	height: 180px;
	background-size: 100%;
	margin-top:25px;
	postion: fixed;
}

.intro::after {
  content: "";
  background: url(blue-watercolor-background.jpg) no-repeat;
	-moz-border-radius: 0 120px 0 120px;
	-webkit-border-radius: 0 120px 0 120px;
	border-radius: 0 120px 0 120px;
	border-color:rgb(255,255,153); 
	border-color:rgba(255,255,153,.8);
	border-width: 3px;
	border-style: solid;
  	opacity: 0.8;
	height: 174px;
	width:580px;
 	top: 25px;
  	left: 297px;
  	bottom: 0;
  	right: 0;
  	position: absolute;
    z-index: -1;   
}
@keyframes h1 {
    0%   {color: #FFFF00;}
    15%  {color: #8968CD;}
    25%  {color: #FFFF00;}
    35% {color: #8968CD;}
	45%   {color: #FFFF00;}
    55%  {color: #8968CD;}
    65%  {color: #FFFF00;}
    75% {color: #8968CD;}
	85%   {color: #FFFF00;}
    95%  {color: #8968CD;}
    99%  {color: #FFFF00;}
    100% {color: #8968CD;}
}

 h1 {
	color:#B452CD;
	float: left;
	text-shadow: -1px 4px 7px #FAFAD2, 1px 4px 1px #FAFAD2;
	 font-size: 4.2em;
	 margin-bottom:0;
	 width: 399px;
	padding-bottom: 0;
	 margin-left:16px;
	height: 39px;
	 margin-top: 0;
	 font-family: "Edwardian Script ITC", "Brush Script MT", cursive;
	animation-name: h1;
    animation-duration: 30s;
 }
h2 { 
	color:#8968CD;
	float: left;
	text-shadow: -1px -1px 1px #E6E6FA, 1px 1px 1px #7B68EE;
	padding-top: 20px;
	font-size: 1.2em;
	margin-left:38px;
}

.summary {
	float: right;
	border-bottom-style:outset;
	border-bottom-color: white;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-style:outset;
	border-top-color: white;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	width: 155px;
	font-size: 0.87em;
	margin-right: 50px;
	margin-top: 15px;
	padding: 3px;
	
	}
.summary p {
	font: italic georgia; 
	line-height: 1;
	}

.preamble {
	display: inline-block;
	background-color:rgb(255,255,153); 
	background-color:rgba(255,255,153,.8);
	width: 366px;
	height:252px;
	line-height:1.4;
	margin-top: 10px;
	border-top-left-radius: 120px;
	border-top-right-radius: 0;
	padding-top: 22px;
	padding-left: 40px;
	padding-right: 17px;
	}
h3::first-letter{
	font-size:1.8em;
	color:#B452CD;
	font-family: "Edwardian Script ITC", "Brush Script MT", cursive;
	letter-spacing:2px;
	padding-left:1px;
}

p {
	text-align: justify;
}
.supporting {	
	display: inline-block; 
	background-color:rgb(255,255,153); 
	background-color:rgba(255,255,153,.8);
	width: 366px;
	margin-top: 274px;
	line-height:1.4;
	padding-left:40px;
	padding-right:17px;
	}

.sidebar { 
	position: absolute; 
	top: 205px; 
	right: auto;
	left: auto;
	margin-left: 423px;
	width: 162px;
	
	}
.sidebar .wrapper { 
	background-color:rgb(255,255,153); 
	background-color:rgba(255,255,153,.8);
	font: 10px verdana, sans-serif; 
	border-bottom-right-radius: 120px;
	border-bottom-left-radius: 0;
	height:1593px;
	padding-top:22px;
	}
.sidebar h3.select {  
	margin: 10px 0 5px 0; 
	width: 117px; 
	height: 16px; 

	}
.sidebar h3.archives {  
	margin: 25px 0 5px 0; 
	width:57px; 
	height: 14px; 
}
.sidebar h3.resources { 
	margin: 25px 0 5px 0; 
	width:63px; 
	height: 10px; 
	}

.sidebar ul {
	margin: 0;
	padding: 5px;
	border-left-color: -moz-use-text-color;
	border-left-style:outset;
	border-width:.1px;
	}
.sidebar li {
	line-height: 1.3em; 
	display: block; 
	padding-top: 5px; 
	margin-bottom: 5px;
	list-style-type: none;
	border-bottom-color: -moz-use-text-color;
	border-bottom-style:inset;
	border-width:.1px;
	padding-bottom: 5px;
	padding-left: 2px;
	}
.sidebar li a:link {
	color: #4F94CD;
	}
.sidebar li a:hover {
	color:#63B8FF;
}

.design-selection a {
    display: block;
    font-size: 1.1em;
    color: #789B51;
	text-decoration: none;
}
a.designer-name {
	font-size: .9em;
	display: inline;
}
	
.design-archives li {
	padding-bottom: 16px;
}
.zen-resources li {
	padding-bottom:16px;
}
footer a {
	padding-right: 11px;
}
