
/* basic elements */
html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753;  
	margin: 0; 
	padding: 0;
	background:url(purple-iris-bird-background.jpg) no-repeat top left; 
	background-size: 100%;
	background-attachment: fixed;
	}
/* specific divs */
.page-wrapper {   
	margin: 0 auto;
	width: 700px;
	}

.intro {
	background:url(blue-watercolor-background.jpg) no-repeat;
	height: 200px;
	background-size: 100%;
}
 h1 {
	color: #E6E6FA;
	float: left;
	text-shadow: -1px -1px 1px #9370DB, 1px 1px 1px #8968CD;
	 font-size: 2.2em;
	 margin-bottom:0;
}
h2 { 
	color:#E066FF;
	float: left;
	text-shadow: -1px -1px 1px #9370DB, 1px 1px 1px #E6E6FA;
	 font-size: 2.2em;
}
.summary {
	float: right;
	border-bottom-style:outset;
	border-bottom-color: white;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-style:outset;
	border-top-color: white;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	
	}
.summary p {
	font: italic 1.1em georgia; 
	text-align: center;
	line-height: 1;
	color: #B452CD;
	}
.summary a {
	color:#7B68EE;
}

.preamble {
	display: inline-block;
	background:pink;
	width: 350px;
	line-height:1.4;
	}
.supporting {	
	display: inline-block; 
	background:pink;
	width: 350px;
	margin-top: 285px;
	line-height:1.4;
	}

.sidebar { 
	position: absolute; 
	top: 169px; 
	right: auto;
	left: auto;
	margin-left: 350px;
	
	}
.sidebar .wrapper { 
	background:pink;
	font: 10px verdana, sans-serif; 
	}
.sidebar h3.select {  
	margin: 10px 0 5px 0; 
	width: 97px; 
	height: 16px; 

	}
.sidebar h3.archives {  
	margin: 25px 0 5px 0; 
	width:57px; 
	height: 14px; 
}
.sidebar h3.resources { 
	margin: 25px 0 5px 0; 
	width:63px; 
	height: 10px; 
	}

.sidebar ul {
	margin: 0;
	padding: 0;
	}
.sidebar li {
	line-height: 1.3em; 
	display: block; 
	padding-top: 5px; 
	margin-bottom: 5px;
	list-style-type: none;
	}
.sidebar li a:link {
	color: #988F5E;
	}
.sidebar li a:visited {
	color: #B3AE94;
	}